<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Post</title>
     <link rel="stylesheet" th:href="@{/css/edits.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    
<nav>
      <div class="logo">Blog<sub>S</sub>phere</div>
      <input type="checkbox" id="click">
      <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
      </label>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a th:href="@{/about}">About Us</a></li>
        <!--<li><a href="team.html">Team</a></li>-->
        <li><a th:href="@{/createPost}">Create</a></li>
        <li><a th:href="@{/view}">View</a></li>
      </ul>
    </nav>

<div class="container">
    <div class="contact-box">
			<div class="left l1">
			<img src="/img/bloge.png">
			</div>
        <form class="right" th:action="@{/updatePost/{id}(id=${post.id})}" method="post">
        <h2>Edit Blog</h2>
            <input class="field" type="text" name="title" th:value="${post.title}" placeholder="Title" required>
            <textarea class="field" name="description" placeholder="Description" required th:text="${post.description}"></textarea>
            <button class="btn" type="submit">Update Post</button>
        </form>
    </div>
    </div>
</body>
</html>
